<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>wxChart</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    
    <div class="wrapper">
        <div class="login-box" style="display: block">
            <h3>web聊天室登陆入口</h3>
            <span>用户名</span>
            <input type="text" placeholder="请输入用户名" />
            <img class="error" src="./img/删除2.png" alt="">
            <div class="touxiang">
                <img class="active" src="./img/man.png" alt="">
                <img src="./img/lady.png" alt="">
            </div>
            <button class="login">登陆</button>
        </div>
        <div class="chart" style="display: none">
            <div class="user-list"></div>
            <div class="title">web聊天室</div>
            <div class="content">
                <!-- <div>
                    <img src="./img/lady.png" alt="">
                    <div class="text-box">
                        <div class="name">111</div>
                        <div class="content-text">sdfsdfsdgsdf</div>
                    </div>
                </div>
                <div class="self">
                    <img src="./img/man.png" alt="">
                    <div class="text-box">
                        <div class="name">222</div>
                        <div class="content-text">数量的就分手删掉了飞机上蝶恋蜂狂</div>
                    </div>
                </div> -->
            </div>
            <div class="text">
                <input type="text">
                <button class="send">发送</button>
            </div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="./js/index.js"></script>
</body>
</html>